---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="fullHeight centered">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');



  html,
  body {
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      #161719,
      #191a1c,
      #1c1c1f,
      #1f1f23,
      #222226
    );
  }

  a {
    color: inherit;
  }

  a:hover {
    color: #EF9B0F;
  }

  a:visited {
    color: inherit;
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fullHeight {
    height: 100%;
  }

  * {
    font-family: 'Bruno Ace SC', cursive;
  }
</style>
